.attribution { font-size: 11px; text-align: center; display: none; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:500px;
}
.main-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 25px;
    width:450px;
    background-color: hsl(213, 19%, 18%);
    color: white;
    margin-top: 50px;
    padding:20px;
}
.star{
    margin-top:40px;
    margin-left:30px;
    height:20px;
    width:20px;
    background-color: hsl(213, 19%, 22%);
    border-radius: 50%;
    padding: 20px;
}
.question{
    margin-top:30px;
    margin-left:30px;
}
.question-feedback{
    margin-top:30px;
    margin-left:30px;
    width:350px;
    color:hsl(216, 12%, 54%);
}

/*Secondary container*/
.secondary-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 25px;
    width:450px;
    background-color: hsl(213, 19%, 18%);
    color: white;
    margin-top:50px;
    padding:20px;
}
.display-choice-section{
    background-color: hsl(210, 13%, 12%);
    padding:10px;
    border-radius: 25px;
    text-align: center;
    color: hsl(25, 97%, 53%);
    width: 200px;
    margin-left: 100px;
}
.thank-you-header{
    margin: 40px 125px;
}
.thank-you-illustration{
    margin: 40px 125px;
}
.thank-you-para{
    margin: 20px auto;
    color:hsl(216, 12%, 54%);
    text-align: center;
    width:350px;
}

/*This we use to remove the button on the side of our options*/
[type='radio'] {
    display: none; 
}
input[type="radio"]:checked + label {
    background-color:hsl(25, 97%, 53%);
}
.number-selection{
    width: 450px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top:40px;
}
.button-one{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: hsl(216, 12%, 54%);
    border-radius: 50%;
}
.button-one:hover{
    background-color: hsl(217, 12%, 63%);
}
.button-two{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: hsl(216, 12%, 54%);
    border-radius: 50%;
}
.button-two:hover{
    background-color: hsl(217, 12%, 63%);
}
.button-three{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: hsl(216, 12%, 54%);
    border-radius: 50%;
}
.button-three:hover{
    background-color: hsl(217, 12%, 63%);
}
.button-four{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: hsl(216, 12%, 54%);
    border-radius: 50%;
}
.button-four:hover{
    background-color: hsl(217, 12%, 63%);
}
.button-five{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: hsl(216, 12%, 54%);
    border-radius: 50%;
}
.button-five:hover{
    background-color: hsl(217, 12%, 63%);
}


.submit-button{
    position: relative;
    font-size: 18px;
    margin: 40px;
    margin-left:10px;
    padding-left:175px;
    padding-right:175px;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: hsl(25, 97%, 53%);
    color:whitesmoke;
    border: none;
    border-radius: 50px;
}
.submit-button:hover{
    background-color: whitesmoke;
    color: hsl(25, 97%, 53%);
}


/*This is for the mobile view*/
@media only screen and (min-width:100px) and (max-width: 600px){ 

    /*Code for the main container on mobile devices*/
    .main-container{
        width: 360px;
        padding: 0px;
        height: 600px;
    }
    .number-selection{
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        margin-right: 10px;
    }
    .question-feedback{
        width: 300px;
    }
    .submit-button{
            position: relative;
            font-size: 18px;
            margin: 40px;
            margin-left:15px;
            padding-left:130px;
            padding-right:130px;
            padding-top:20px;
            padding-bottom: 20px;
            background-color: hsl(25, 97%, 53%);
    }


    /*Code for second container on mobile deveices*/
    .secondary-container{
        width: 360px;
        padding: 0px;
        height: 600px;
    }
    .display-choice-section{
        width: 300px;
        margin-left: 30px;
    }
    .thank-you-header{
        margin: 50px 25%;
    }
    .thank-you-illustration{
        margin: 50px 25%;
    }
}
